<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.5.0" targetFramework="net472" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net472" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net472" />
  <package id="MegaApiClient" version="1.10.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net472" />
  <package id="Sara-FCTB" version="2.16.26.105" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.CodeDom" version="6.0.0" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="6.0.0" targetFramework="net472" />
  <package id="System.Management" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>